<launch>
  <!-- Launch file for testing spacecraft movement in  -->
  <arg name="world_name" default="$(find blackroom)/worlds/blackroom.world"/>
  <arg name="paused" value="true"/>

  <!-- Load the spacecraft simulator URDF model into the parameter server -->
  <param name="robot_description" textfile="$(find spacecraft_simulator_description)/urdf/3DOF_spacecraft_simulator.urdf" />

  <!-- Start Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="verbose" value="true" />
    <!-- more default parameters can be changed here -->
  </include>

  <!-- Spawn a spacecraft simulator in Gazebo, taking the description from the
  parameter server -->
  <node name="sc" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -x 0.0 -y 0.0 -z 0
              -model sc"/>
</launch>
