<?xml version="1.0"?>

<model>
  <name>5DOF_spacecraft_simulator</name>
  <version>1.0</version>
  <sdf version="1.5">5DOF_spacecraft_simulator.sdf</sdf>

  <author>
    <name>Jennifer Sun</name>
    <email>jksun@caltech.edu</email>
  </author>

  <description>
    A model of the 5-DOF spacecraft simulator.
  </description>
</model>
