<!-- Urdf format of the ARCL spacecraft simulator. Currently updated to
resemble the 3DOF model. -->

<?xml version="1.0"?>
<robot name="spacecraft_simulator">
  <!-- Seems unnecessary to define a joint as the model moves as a whole
    planarly -->
  <!-- Actuator representing the base of the spacecraft model -->
  <!-- <link name="base_footprint">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link> -->

  <!-- Joint linking base_footprint with the base_link -->
  <!-- <joint name="base_link_anchor" type="planar">
    <origin xyz="0 0 0.25" rpy="0 0 0"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <dynamics friction="0.0"/>
  </joint> -->

  <!-- Represents the spacecraft simulator model -->
  <link name="sc">
    <inertial>
      <!-- Mass and inertia according to solidworks model -->
      <mass value="9.08"/>
      <!-- Sets up center of mass of link at the bottom of the ball joint -->
      <origin xyz="0 0 0.74522"/>
      <!-- <inertia ixx="27.60" iyy="3.36" izz="28.06"
               ixy="-5.21" ixz="0.86" iyz="-4.00"/> -->
      <inertia ixx="2.51" iyy="0.50" izz="2.60"
               ixy="-0.55" ixz="0.16" iyz="-0.43"/>
    </inertial>
    <visual>
      <geometry>
        <!-- <mesh filename="package://spacecraft_simulator_description/meshes/spacecraft-simulator-simple.dae"/> -->
        <mesh filename="package://spacecraft_simulator_description/meshes/sc_simple_ball.dae"/>
      </geometry>
    </visual>
    <collision>
      <!-- Determines position on link where collision is checked -->
      <origin xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://spacecraft_simulator_description/meshes/spacecraft-simulator-simple.dae"/> -->
        <mesh filename="package://spacecraft_simulator_description/meshes/sc_simple_ball.dae"/>
      </geometry>
      <surface>
        <contact>
          <ode>
            <!-- Counts a collision at a minimum of 0.0 meters of overlap -->
            <min_depth>0.0</min_depth>
            <max_vel>0.5</max_vel>
          </ode>
        </contact>
        <friction>
          <ode>
            <mu>0.0</mu>
            <mu2>0.0</mu2>
          </ode>
        </friction>
      </surface>
    </collision>
  </link>

  <gazebo>
    <!-- Plugin that controls planar movement of the model using velocity. -->
    <!-- <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>sc</robotBaseFrame>
    </plugin> -->

    <!-- Plugin that controls movement of the model using forces and torques at
    the model's center of mass. -->
    <!-- <plugin name="force_controller" filename="libgazebo_ros_force.so">
      <bodyName>sc</bodyName>
      <topicName>ros_force</topicName>
    </plugin> -->

    <!-- Plugin that controls movement of the model using forces at relative
    positions to the model's center of mass. Designed the model forces applied
    at specific thruster locations. -->
    <plugin name="thruster_force_controller" filename="libspacecraft_thruster_force.so">
      <bodyName>sc</bodyName>
      <topicName>thrusters_force</topicName>
    </plugin>
  </gazebo>

  <!-- Links actuator (what controls movement) and joint (what is being moved)
  to use ros_control with the spacecraft model -->
  <!-- <transmission name="sc_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="base_link_anchor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="base_footprint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission> -->
</robot>
